@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";

$sidebar-pt: 100px;
$sidebar-font-size: $font-size-base * 1.075;

body { overflow-y: scroll; }

#brand-text {
    font-family: 'Ubuntu'; 
    padding-bottom: 5px;
}

@mixin sidebar($sidebar-pt, $sidebar-font-size, $bg-color, $text-color, $gray-color) {
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    padding: #{$sidebar-pt} 0 0;
  
    > #sidebar-inner {
        height: calc(100vh - #{$sidebar-pt});
        > select { font-size: #{$sidebar-font-size}; }
        > #network-select {
            .icon { width: 1.8rem; height: 1.8rem; }
            .chevron { width: 1.8rem; }
        }
        > .nav-pills {
            --bs-nav-link-font-size: #{$sidebar-font-size};
            --bs-nav-pills-link-active-color: #{$bg-color}; 
            --bs-nav-pills-link-active-bg: #{$text-color}; 
            --bs-nav-link-color: #{$text-color}; 
            --bs-nav-link-hover-color: #{$gray-color};
        }
    }
}
  
#sidebar-container { 
    @include sidebar($sidebar-pt, $sidebar-font-size, $dark, $light, $gray-400);
}

#sidebar-container-light {
    @include sidebar($sidebar-pt, $sidebar-font-size, $light, $dark, $gray-600);
}

.form-select { cursor: pointer; }

#main-col { 
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    #select-chain { width: 8rem; }    
}

.veBAL, .success-dark { color: $teal; }
.veBAL-light, .success-light { color: $green; }

.spinner { width: 1.5rem; height: 1.5rem; }

#select-network-modal {
    .icon { width: 1.8rem; height: 1.8rem; }
}

/* PORTFOLIO */

.amount  { width: 5rem; }
.boost, .shares  { width: 2rem; }

#invest-info {
    > .title { line-height: 5.5rem; }
    > .total { line-height: 3.5rem; }
}

.apr-breakdown {
    > .bi { font-size: 90%; } 
}

.placeholder-glow {
    > .network { width: 90%; }
    > .volume { width: 4rem; }
    > .shares { width: 4.5rem; }
    > .apr { width: 4.5rem; }
    > .apr-eth { width: 8rem; }
}

/* TRADE */

#swap {
    .amount-block { 
        width: 50%; 
        #amount-in, #amount-out { 
            all: inherit;
            width: 100%;
            -moz-appearance: textfield;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    
    .select-token { cursor: pointer; }

    .separator-line {
        margin-top: 0.8rem; 
        margin-bottom: 0.8rem;
        > .progress { 
            height: 1px;
            > .progress-bar { width: 0%; }
        }
        > .arrow {
            width: 2.8rem; 
            height: 2.8rem;
            .bi { 
                font-size: 1.5rem; 
            }
        }
    }

    .amount-dark::placeholder {
        color: $light;
        opacity: 0.5;
    }
    .amount-light::placeholder {
        color: $dark;
        opacity: 0.5;
    }

}

#token-selector {
    #token-list {
        height: 20rem;
        overflow-y: auto;
        .token { cursor: pointer; }
    }
}

#settings { cursor: pointer; }

/* INVEST */

table#pools {
    th { padding: 1rem;}
    td { padding: 0.7rem 0.9rem; }
    .pool-icons > div { padding: 0.15rem; }
    .pool-tokens > div { 
        margin: 0.4rem 0.35rem; 
        font-size: $font-size-base; 
        white-space: nowrap;
    }
}

.reset-search { cursor: pointer; }


/* Join/exit pool */

#join-pool, #exit-pool {
    .amount-block { 
        width: 50%; 
        padding-right: 0.25rem;
        font-size: $font-size-base * 2.6;
        input { 
            all: inherit;
            width: 100%;
            -moz-appearance: textfield;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}


